body {
    margin: 0;
    padding: 0;
}

input {
    width: 400px;
    height: 48px;

    margin-bottom: 10px;

    border: 1px solid #0EA5E9;
}

button {
    width: 200px;
    height: 36px;
    margin-bottom: 20px;

    background: #0EA5E9;
    border: 1px solid #0EA5E9;
    border-radius: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.header {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    background: #0EA5E9;

    color: #FFFFFF;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginText {
    width: 40px;
    height: 19px;
    
    margin-top: 275px;
    margin-bottom: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #0EA5E9;
}

.inputText {
    width: auto;
    height: 19px;
    margin-bottom: 20px;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #0EA5E9;
}

.regText {
    width: 105px;
    height: 19px;
    
    margin-top: 200px;
    margin-bottom: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #0EA5E9;
}

.adsList {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.adBox {
    display: flex;

    margin-bottom: 60px;
}

.fotoAndTel {
    width: 150px;
}

.adImg {
    height:150px;
    width: 100%;
    object-fit:cover;
    
    margin-bottom: 10px;
}

.adTel {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    height: 30px;
    width: 150px;
    margin-bottom: 0;

    background: #0EA5E9;
    border: 1px solid #0EA5E9;
    border-radius: 0;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

.adTelHidden {
    display: none;
}

.adButton {
    box-sizing: border-box;

    height: 30px;
    width: 150px;
    margin-bottom: 0;

    background: #0EA5E9;
    border: 1px solid #0EA5E9;
    border-radius: 0;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

.adButtonHidden {
    display: none;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.adInfo {
    display: flex;
    justify-content: space-between;
}

.titleAndDiscription {

    margin-bottom: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}

.title {
    margin-bottom: 5px;
}

.adPrice {
    display: flex;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
}

.priceValue {
    margin-right: 5px;

    width:max-content;
}

.salesmanInfo {
    display: flex;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
}

.salesmanTitle {
    margin-right: 5px;
}

@media (max-width: 390px) {
    .adBox {
        flex-direction: column;
    }

    .fotoAndTel {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .adInfo {
        flex-direction: column;
    }

    .titleAndDiscription {
        margin-bottom: 10px;
    }

    .adPrice {
        margin-bottom: 10px;
    }
}